.Personal-Information{
    width: 85%;
    margin:auto;
    padding-top: 125px;
}

.Personal-Information-Top{
    display: flex;
}

.Person-Image-Container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Person-Info{
    width: 50%;
    padding-left: 35px;
}
