.Detail{
    padding-top: 135px;
}

.Detail-Top{
    display:flex
}

.Detail-Bottom{
    margin:75px auto 150px auto;
    width: 80%;
}

.Production-Companies-Logo{
    width: 100px;
    height:100px;
}

.Detail-Left{
    width: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.External-Ids-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.External-Id{
    width: 35px;
    height:35px;
    font-size: 14px;
    border-radius: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#34688f;
    border:1px solid #34688f;
    margin-right:15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.External-Id:hover {
    background-color: #34688f;
    color:#fff;
    border:1px solid transparent;
    box-shadow: 0 0 5px #5a5a5a;
}

.Detail-Right{
    width: 65%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Name-Container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-width:65%;
}

.Name{
    font-size: 45px;
    color: #4d4d4d;
    text-align: left;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.Detail-Tag-Line{
    text-align: left;
    margin: 0 0 10px 0;
    color: #505c70;
    font-style: italic;
    font-size: 14px;
}

.Detail-Average{
    text-align: left;
    font-size: 25px;
    color: #938670;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.Detail-Average i {
    color: #ff9100;
    font-size: 20px;
    margin-right: 5px;
}

.Detail-Average-Count{
    color: #969696;
    font-weight: 100;
    font-size: 18px;
    margin-left: 5px;
}

.Detail-Right ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin:10px 0
}

.Detail-Right li {
    color: #999;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 12px;
    margin-right: 7px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

li:last-child span{
    display: none;
}

.Detail-Right li:hover {
    color: #4d4d4d;
}

.Detail-Overview{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3f3f3f;
    font-size: 15px;
    text-align: left;
    width: 65%;
    letter-spacing: 1px;
    margin:0 0 10px 0;
}

.Detail-Release-Date{
    font-size: 14px;
    color: #9eb0c4;
    font-style: oblique;
    font-weight: 700;
    margin-left: 10px;
    font-family: Montserrat ,sans-serif;
}

.Detail-Title{
    font-family:'Source Sans Pro SemiBold', sans-serif;
    color:#414141;
    font-size: 15px;
    text-align: left;
    margin:15px 0 3px 0
}

.Detail-Info{
    font-family:'Source Sans Pro', sans-serif;
    color: #5f5f5f;
    text-align: left;
    font-size: 14px;
}
