.Most-Popular{
    margin:auto;
    width: 60%;
}

.Content{
    height: 450px
}
.Opacity{
    background-image:linear-gradient(to right, rgba(3.53%, 7.45%, 12.94%, .9) 150px, rgba(3.53%, 7.45%, 12.94%, 0.7) 100%);
    width: 100%;
    height: 100%;
}
.Most-Popular button{
    margin: 20px!important;
}

