.Logo{
    display: flex;
    align-items: center;
}

.Logo p{
    margin:0;
    color: #ff0092;
    letter-spacing: 1px;
}
.Logo img{
    height: 45px;
    margin-right: 10px;
}

.Logo-Name{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Acme', sans-serif;
}

.App-Name{
    font-size: 13px;
    font-family:'Acme', sans-serif;
}
