.Logo{
    display: flex;
    align-items: center;
}

.Logo p{
    margin:0;
    color: #4a4a4a
}
.Logo img{
    height: 45px;
    margin-right: 10px;
}

.Logo-Name{
    font-size: 17px;
    font-weight: 700;
}

.App-Name{
    font-size: 13px;
}
