.Personal-Info-Container{
    width: 100%;
    margin-top: 30px;
}

.Personal-Information-Title{
    color:#414141;
    font-size: 25px;
    margin:10px;
}

.Personal-Information-Title span{
    color: #8d8d8d;
    font-size: 20px;
}

.Personal-Information-List{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding:0 50px 0 20px;
    border:1px solid #e3e3e3;
    border-bottom: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
    height: 50px;
}
.Personal-Info-List-Container .Personal-Information-List:first-child{
    border-radius: 5px 5px 0 0;
}

.Personal-Information-List:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #e3e3e3;
}

.Personal-Information-List-Name{
    color: #606060;
    font-size: 20px;
    font-family: "Source Sans Pro",sans-serif;
    max-width: 60%;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Personal-Information-List-Name span{
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 5px;
}

.Personal-Information-Average{
    font-size: 17px;
    margin-left: 25px;
    color:#414141
}

.Personal-Information-Average i {
    color: #ffa200;
}

.Personal-Info-Release-Date{
    color: #5a5a5a;
}

.Personal-Information-List:hover{
    background-color: #1d405f;
}

.Personal-Information-List:hover .Personal-Information-List-Name{
    color: #ffffff
}
.Personal-Information-List:hover .Personal-Info-Release-Date{
    color: #ffffff
}

.Personal-Information-List:hover .Personal-Information-Average{
    color:seashell;
}

.list-number{
    margin: 0 5px;
    font-size: 23px !important;
}

