.Button{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.Search-Button{
    height: 35px;
    width: 35px;
    border-radius:0 100px 100px 0;
    border:1px solid #e1e1e1;
    border-left: none;
    color:#414141;
    font-size: 17px;
}

.Go-Detail{
    border-radius: 4px;
    border:1px solid #fff;
    color:#fff;
    font-size: 13px;
    padding:5px 7px;
    letter-spacing: 1px;
    margin-top:50px;
}

.Go-Detail:hover{
    background-color: #003669;
    border:1px solid transparent;
}
