.Button{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search-Button{
    height: 35px;
    width: 35px;
    border-radius:0 100px 100px 0;
    border:1px solid #e1e1e1;
    border-left: none;
    color:#414141;
    font-size: 17px;
}
