.dropTitle {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s ease-in;
    padding:10px 0
}

.dropdown {
    position: relative;
    display: inline-block;
    margin:0 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 1px 1px 5px #494949;
}

.dropdown-content a {
    color: #4d4d4d;
    padding:7px 0 7px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .2s ease-in;
}

.dropdown-content a:last-child{
    border-radius: 0 0 5px 5px;
}

.dropdown-content a:first-child{
    border-radius:5px 5px 0 0;
}

.dropdown-content a:hover {
    padding-left: 20px;
    color:#fff;
    font-weight: 500;
    background-color: rgb(4, 44, 77);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropTitle {
    color: #254278
}

