.Movie-List-Poster{
    border-radius: 7px;
}


.Detail-Poster{
    border-radius: 10px;
}

.List-Image{
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 5px;
}

.Person-Image{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #6a6a6a;
}
