.NavigationItem{
    margin:0 15px;
    position: relative;
}

.NavigationTitle{
    color: #575757;
    text-decoration: none;
    font-weight: 500;
}

.NavigationTitle:hover{
    color: #1f3e88;
}

