.person-list-title{
    font-size: 17px;
    font-family:"Montserrat SemiBold", sans-serif;
    color: #484848;
    margin-bottom: 5px;
}

.person-list-count{
    color: #939393;
    margin-left: 5px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
}

.person-list-container{
    display: flex;
    overflow:auto;
}

.person-list-container::-webkit-scrollbar {
    height: 7px;
}
  
.person-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(202, 202, 202); 
    border-radius: 10px;
}
   
.person-list-container::-webkit-scrollbar-thumb {
    background: #a8a8a8; 
    border-radius: 10px;
}
  
.person-list-container::-webkit-scrollbar-thumb:hover {
    background: #929292; 
}

.person-list-container::-webkit-scrollbar-thumb:active {
    background: #666666; 
}