.Header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 3px #e3e3e3;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 45px;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 100;
}

.Header-Left-Container{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
}

.Header-Right-Container{
    display: flex;
    align-items: center;
}

.Header-Form{
    display:flex;
    align-items:center;
    width:300px;
    border-radius: 100px;
}

.Header-Form:hover{
    box-shadow: 1px 1px 3px #cacaca;
}

.form-container{
    display: flex;
}

.header-menu{
    font-size: 25px;
    color:#555;
    display: none !important;
}

@media (max-width: 960px) {
    .Header-Right-Container{
        display: none !important;
    }
    .form-container{
        display:none
    }
    .header-menu{
        display:block !important
    }
}
